<%- include("header") -%>

<h1 style="text-align: center; color: salmon">My Name is Afsar Hossain</h1>
<p style="text-align: center; color: tan">
  Contact me if you want this website!!
</p>

<%- include("footer") -%>
